REACT_APP_API_KEY=''

REACT_APP_BASE_URL='http://data.tmsapi.com'
REACT_APP_MOVIES_THEATRE_PATH_NAME='v1.1/movies/showings'
REACT_APP_SHOWS_TV_PATH_NAME='v1.1/programs/newShowAirings'
REACT_APP_SPORT_PATH_NAME='v1.1/sports/sportsId/events/airings'
REACT_APP_MOVIES_TV_PATH_NAME='v1.1/movies/airings'

REACT_APP_IMAGE_BASE_URL='http://demo.tmsimg.com/'